#id1
{
    text-align: center;
    font-size:50px;
    text-transform: uppercase;
    width: 50%;
    float: left
}
#id2 {
   
    height: 300px;
    float: left;
  }
  #id3 {
    width: 50%;
    height: 300px;
    float: right;
    font-size:30px;
    text-align: center;
  }

  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }